<head xmlns:th="http://www.thymeleaf.org" th:fragment="resources">
    <title>机场交通安全管理平台</title>
    <meta charset="UTF-8">
    <meta content="no-cahe" http-equiv="Cache-Control">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script th:src="@{/js/jquery/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/js/own/OMGlobal.js}" type="text/javascript"></script>
    <script th:src="@{/js/zui/js/zui.js}" type="text/javascript"></script>
    <script th:src="@{/js/zui/js/zui.lite.js}" type="text/javascript"></script>
    <script th:src="@{/js/jmcusscrollbar/jquery.mCustomScrollbar.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jmcusscrollbar/jquery.mousewheel.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/ol/ol.js}" type="text/javascript"></script>
    <script th:src="@{/js/nprogress/nprogress.js}" type="text/javascript"></script>
    <script th:src="@{/js/own/OMap.js}" type="text/javascript"></script>
    <script th:src="@{/js/own/OMEngine.js}" type="text/javascript"></script>
    <script th:src="@{/js/own/OMService.js}" type="text/javascript"></script>
    <script th:src="@{/js/own/OMSocket.js}" type="text/javascript"></script>
    <script th:src="@{/js/own/AjaxUtils.js}" type="text/javascript"></script>
    <script th:src="@{/js/own/LoadHTML.js}" type="text/javascript"></script>
    <script th:src="@{/js/echarts/echarts.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/zui/lib/bootbox/bootbox.js}" type="text/javascript"></script>
    <script th:src="@{/js/own/page-js/core/main.js}" type="text/javascript"></script>
    <script th:src="@{/js/jsgrid/jsgrid.min.js}" async></script>
    <link th:href="@{/js/jsgrid/jsgrid.min.css}" rel="stylesheet">
    <link th:href="@{/js/jsgrid/jsgrid-theme.min.css}" rel="stylesheet">
    <link th:href="@{/js/ol/ol.css}" rel="stylesheet"/>
    <link th:href="@{/js/zui/css/normalize.css}" rel="stylesheet"/>
    <link th:href="@{/js/zui/css/zui.css}" rel="stylesheet"/>
    <link th:href="@{/js/zui/css/zui.lite.css}" rel="stylesheet"/>
    <link th:href="@{/js/zui/lib/bootbox/bootbox.css}" rel="stylesheet" th:async="async"/>
    <link th:href="@{/js/nprogress/css/nprogress.css}" rel="stylesheet"/>
    <link th:href="@{/js/jmcusscrollbar/jquery.mCustomScrollbar.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/core/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/core/breadcrumb.css}" rel="stylesheet"/>
    <link th:href="@{/css/core/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/core/siderbar.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo/platform_logo.ico}"/>
</head>

