<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.br.mapper.FlightInfoMapper">

    <resultMap id="flightInfoResultMap" type="com.br.entity.task.FlightInfo">
        <id column="flight_info_seq" property="flightInfoSeq" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="flight_info_biz_type" property="bizType" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_datetime" property="dataTime" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_method" property="method" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_type" property="type" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_flight_attr" property="flightAttr" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_flight_type" property="flightTypeSeq" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_aircraft_type" property="aircraftType" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_registration" property="registration" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_flight_number" property="flightNumber" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_primary_flt" property="primaryFlt" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_related_flt" property="relatedFlt" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_flight_status" property="flightStatus" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_port_no" property="portNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_plan_date" property="planDate" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_adt" property="adt" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_edt" property="edt" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_sdt" property="sdt" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_arrsdt" property="arrSdt" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_cobt" property="cobt" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_origin" property="origin" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_destination" property="destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_via" property="via" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_counter_open_dt" property="counterOpenDT" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_counter" property="counter" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_count_int" property="counterInt" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_dep_terminal" property="depTerminal" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_gate" property="gate" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_gate_int" property="gateInt" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_belt" property="belt" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_belt_int" property="beltInt" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_psg_total" property="psgTotal" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="flight_info_bag_num" property="bagNum" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="flight_info_bag_weight" property="bagWeight" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="flight_info_arr_flight_number" property="arrFlightNumber" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_arr_flt_type" property="arrFltType" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_dep_flight_num" property="depFlightNumber" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="flight_info_dep_flt_type" property="arrFltType" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="add" parameterType="com.br.entity.task.FlightInfo">

    </insert>

</mapper>